html {
    scroll-padding-top: 5rem;
  }

*{
    margin: 0;
    padding: 0;
    border: border-box;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
}



body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}
  
.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lighten{
    opacity: 70%;
}

/**STYLING THE NAVBAR AND LOGO**/
.logo-div{
    width: 190px;
    height: 40px;
    background-image: url(image.png);
    background-size: cover;
    scale: 0.8;
    margin-left: 5px;
    padding: 1px;
}
navbar{
    height: 60px;
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    background-color: rgb(20, 20, 20);
    position: fixed;
    top: 0;
    left: zero;
    z-index: 5;
}
navbar a{
    text-decoration: none;
    color: rgb(255, 251, 226);
    font-weight: 650;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
}
.nav-links{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}


/**STYLING THE WELCOME SECTION**/
.welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
    word-spacing: 2px;
}

.welcome-bg-videobox{
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 98%;
    height: 100%;
    overflow-y: hidden;
    object-fit: cover;

}



/**STYLING THE HERO SECTION**/
.hero-section{
    height: 100vh;
    color: white;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.359);
}

.hero-foreground{
    z-index: 1;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}
.hero-gallery{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
}
.gap1{
    margin-bottom: 20px;
}
.gap2{
    margin-top: 20px;
}
button{
    margin: auto;
    width: 120px;
    height: 40px;
    letter-spacing: 1px;
    font-family: "Special Gothic Expanded One", sans-serif;
    border-radius: 5px;
    z-index: 2;
    &:hover{
        background-color:rgb(216, 213, 136);
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
}
button a{
    color:black;
    width: 100%;
    height: 100%;
}
.card{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;

}
.tiles{
    height: 80%;
    width: 90%;
    margin: auto;
    &:hover{
        transform: scale(1.1);
        transition: ease-in-out 0.3s;
    }
}
.tile-cover1{
    background-image: url(TECH-DOC.png);
    background-size: cover;
    background-position: auto -5px;
    background-clip:content-box;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.12),
    0 0 30px rgba(255, 255, 255, 0.06);
    &:hover{
        border: 2px solid rgba(255, 255, 255, 0.308);
        box-shadow:
    0 0 12px rgba(255, 255, 255, 0.18),
    0 0 36px rgba(255, 255, 255, 0.08);
  }

}
.tile-cover2{
    background-image: url(TRIBUTE-PAGE.png);
    background-size: cover;
    padding: 5px;
    border-radius: 6px;
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.12),
    0 0 30px rgba(255, 255, 255, 0.06);
    &:hover{
        border: 2px solid rgba(255, 255, 255, 0.308);
        box-shadow:
    0 0 12px rgba(255, 255, 255, 0.18),
    0 0 36px rgba(255, 255, 255, 0.08);
  }
}
.tile-cover3{
    background-image: url(PROD-LANDING.png);
    background-size: cover;
    background-position: -3px;
    background-clip:content-box;
    border-radius: 6px;
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.12),
    0 0 30px rgba(255, 255, 255, 0.06);
    &:hover{
        border: 2px solid rgba(255, 255, 255, 0.308);
        box-shadow:
    0 0 12px rgba(255, 255, 255, 0.18),
    0 0 36px rgba(255, 255, 255, 0.08);
  }
}

.labels a{
    &:hover{
        color:rgb(216, 213, 136);
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
}
.tile-label1{
    &:hover{
        color:rgb(216, 213, 136);
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
}

.tile-label2{
    &:hover{
        color:rgb(216, 213, 136);
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
}

.tile-label3{
    &:hover{
        color:rgb(216, 213, 136);
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
}
 .tribute-link{
    width: 100%;
    height: 100%;
    z-index: 2;
 }

/* MAKING CONTACT SECTION */

#contact{
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.ball1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(fcc_white-icon1.png);
    background-size: contain;
    background-clip: content-box;
    background-repeat: space;
    background-position: auto -5px;
    &:hover{
        position: relative;
        right: 10px;
        opacity: 80%;
    }
    scale: 0.8;
}


.ball2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(GITHUB-ICON.png);
    background-size: contain;
    background-clip: content-box;
    &:hover{
        position: relative;
        left: 10px;
        opacity: 80%;
    }
}

.fcc-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    letter-spacing: 2px;
}
.github-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    letter-spacing: 2px;
}
.up{
    position: relative;
    top: -35px;
}
.down{
    position: relative;
    top: 35px;
}
.github-card > a > h2{
    &:hover{
        color:rgb(216, 213, 136) !important;
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
}

.fcc-card > a > h2{
    &:hover{
        color:rgb(216, 213, 136) !important;
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
}

footer{
    height: 100px;
    width: 100%;
    font-family: "Special Gothic Expanded One", sans-serif;
    display: block;
    margin-top: auto;
    padding: auto;
    font-size: small;
    text-align: center;
    word-spacing: 5px;
    background-color: rgba(86, 76, 60, 0.141);
}
.underline{
    text-decoration: underline 2px;
    &:hover{
        color: rgb(216, 213, 136);
    }
}



/*RESPONSIVENESS*/

/*TARGETTING SECTIONS*/
.big-box{
    scale: 0.8;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 0;
    justify-self: center;
}

/*MEDIA QUERIES*/

@media(max-width:1536px){
    .big-box{
        max-width: 1280px;
    }
}
@media(max-width:1280px){
    .big-box{
        max-width: 1024px;
    }
    #contact{
        width: 80%;
        scale:0.8;
    }
}
@media(max-width:1024px){
    .big-box{
        max-width: 768px;
    }
    #contact{
        width: 100%;
        height: 300px;
        scale:0.8;
    }
}
@media(max-width:768px){
    .big-box{
        max-width: 640px;
    }
    #contact{
        width: 100%;
        justify-content: space-between;
        scale:0.9;
        margin-top: -200px;
    }
    .hero-section{
        height: 300vh;
        scroll-behavior: smooth;
        margin-top: -200px;
    }
    .hero-gallery{
        align-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        z-index: 2;
        margin-bottom: 100px;
        scale: 1;
        width: 90vw;
    }
    .card{
        height: 80vh;
        width: 90vw;
    }
    button{
        position: absolute;
        bottom: 50px;
        left: auto;
    }
    
}
@media(max-width:640px){
    .big-box{
        max-width: 475px;
    }
    .welcome{
        font-size: large;
    }
    #contact{
        width: 100%;
        scale:0.6;
        flex-direction: column;
    }
    .nav-links{
        scale: 0.8;
    }
}

@media(max-width:475px){
    .big-box{
        max-width: 300px;
    }
    .welcome{
        font-size:medium;
    }
    footer > p{
        scale:0.8;
        margin: 30px;
        padding: 10px;
    }
    .logo-div{
        margin-left: 0;
        padding-left: 0;
        scale: 0.7;
        display: block;
        margin: auto;
    }
    .nav-links{
        display: none;
    }
}




